* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 20px auto;
}

#header div:first-child {
  font-weight: bolder;
  font-size: 2rem;
}

#battlefield-container {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  margin: 80px auto;
  padding-bottom: 50px;
}

#battlefield-container > div {
  width: 400px;
  height: 400px;
  text-align: center;
}

#user-board,
#opponent-board {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
}

#footer {
  width: 1000px;
  margin: 20px auto;
  text-align: center;
  border-top: 0.5px solid grey;
}

#user-board > div,
#opponent-board > div {
  width: 400px;
  height: 40px;
  display: flex;
}

#user-board > div > div,
#opponent-board > div > div {
  width: 40px;
  height: 40px;
  border: 1px ridge #ccc;
}

#user-board > div > div.ship,
#opponent-board > div > div.ship {
  border: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
}

#user-board > div > div.hit,
#opponent-board > div > div.hit {
  background-color: red;
}

#user-board > div > div.missed,
#opponent-board > div > div.missed {
  background-color: darkgrey;
}

.hide {
  display: none;
}

#user-board-container > *,
#opponent-board-container > * {
  margin-bottom: 10px;
}
